* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

/*Section 1*/

.first-section {
  width: 100vw;
  height: 100vh;
  min-height: 900px;
  max-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bfebfc;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%);
  position: relative;
}

.first-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

.search-location {
  display: flex;
  align-items: center;
}

#globe {
  height: 80%;
  position: absolute;
  z-index: -1;
  right: -25rem;
  display: none;
}

#logo {
  width: 40rem;
}

#find-location {
  width: 45rem;
  height: 3rem;
  margin: 2rem 1rem;
  border-radius: 25px;
  border: none;
  padding-left: 2rem;
  font-size: 20px;
}

#find-location::placeholder {
  color: rgb(172, 172, 172);
}
#find-location:focus {
  outline: none;
}

#find-tickets {
  width: 10rem;
  height: 3rem;
  border-radius: 25px;
  border: none;
  background-color: #69a4e8;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.travel-options {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.travel-options li {
  margin: 0rem 2rem;
}

.travel-option {
  display: flex;
  align-items: center;
}

.calendar-label {
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 1rem;
}

.departure-arrival {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px black;
}

#passenger {
  width: 1.5rem;
}

#select-travellers {
  transform: scale(1.5);
  background-color: transparent;
  margin-left: 1rem;
  border-radius: 7px;
  border: solid 1px rgb(49, 49, 49);
}

/*Section 2*/
.popular-trips {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-trips h1 {
  margin: 2rem 0rem;
  font-family: sans-serif;
}
.popular-trips h2 {
  font-size: 20px;
  font-family: sans-serif;
  color: #69a4e8;
}

.slider-container {
  width: 80vw;
  height: 70vh;
  min-height: 40rem;
  max-height: 40rem;
  max-width: 100vw;
  padding: 0rem 3rem !important;
  position: relative;
}

.slide {
  height: 95% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px grey;
  border-radius: 20px;
}

.swiper-button-next {
  right: 0 !important;
}

.top-card-img {
  width: 100%;
  height: 40%;
  border-radius: 20px 20px 0px 0px;
}

#greece {
  background-image: url(./Resources/greece.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-info {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.card-title-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  font-size: 35px;
}

.like-button {
  width: 2.5rem;
}

.card-subinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

.card-subinfo p {
  width: 55%;
  font-size: 20px;
  margin: 2rem 0rem;
}

.pricing-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

.pricing-info h3 {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(172, 172, 172);
}

.price {
  font-size: 2.5rem;
  font-weight: bold;
  color: #69a4e8;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
}

.book-button {
  width: 15rem;
  height: 3.5rem;
  border-radius: 25px;
  border: none;
  background-color: #69a4e8;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

/* Section 3 */

#we-fly-anywhere {
  width: 100vw;
  margin: 10rem 0rem;
}

/* Section 4 */

.luggage-section {
  width: 100vw;
  margin: 0rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10rem 0rem;
}

.luggage-section h2 {
  font-size: 60px;
  font-family: sans-serif;
  color: #69a4e8;
  margin: 2rem 0rem;
}

.luggage-section p {
  font-size: 25px;
  font-family: sans-serif;
}

.luggage-info {
  width: 30%;
}

#luggage {
  width: 45rem;
  border-radius: 25px;
}

/* Footer */

footer {
  width: 100vw;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bfebfc;
  clip-path: polygon(0% 20%, 50% 0%, 100% 25%, 100% 100%, 0% 100%);
}

footer h2 {
  font-family: sans-serif;
}

#airplane {
  width: 7rem;
  margin-bottom: 2rem;
}

#footer-menu {
  display: flex;
  list-style: none;
  margin-top: 2rem;
}

#footer-menu li {
  margin: 0rem 1rem;
  font-family: sans-serif;
}

#footer-menu li:hover {
  color: white;
}

/* MEDIA QUERIES */



/* High DPI Laptop */
@media only screen and (max-width: 1440px) {
    /* travel slider */
    .card-subinfo p {
        font-size: 15px;
    }
    .pricing-info span {
        font-size: 1.8rem;
    }

    .pricing-info{
      padding-left: 0.1rem;
    }
    
    .pricing-info h3 {
        font-size: 18px;
    }
    
    
    /*Section 4  */
    .luggage-section h2 {
        font-size: 50px;
    }
    
    .luggage-section p {
        font-size: 20px;
    }

    #luggage{
        width: 35rem;
    }

}

/* Laptop */
@media only screen and (max-width: 1025px) {
    /*Section 4  */
    .luggage-section h2 {
        font-size: 35px;
    }
    
    .luggage-section p {
        font-size: 18px;
    }
    #luggage{
        width: 25rem;
    }

}


/* Tablet */
@media only screen and (max-width: 769px) {

    /* Section 1 */
    .first-section{
      min-height: 700px;
    }

    #logo{
      width: 25rem;
    }

    #find-location{
      width: 25rem;
    }

    .travel-options{
      flex-direction: column;
    }

    .travel-option {
      padding:0.5rem 0rem;
    }

    #select-travellers{
      margin: 0rem 2rem;
    }

    #passenger{
      margin: 0rem 2rem;
    }

    .travel-options li {
      margin: 0rem 0.5rem;
    }

    /* travel slider */
    .pricing-info span{
      font-size: 3rem;
    }

    .card-subinfo p{
      font-size: 25px;
    }
    /* Section 4 */
    .luggage-section h2 {
        font-size: 30px;
        margin: 0.5rem 0rem;
    }
    
    .luggage-section p {
        font-size: 14px;
    }
    #luggage{
        width: 15rem;
    }
}

/* lg phone */

@media only screen and (max-width: 530px) {
    /* first section */
    #logo{
      width: 20rem;
    }

    #find-location{
      width: 18rem;
      height: 2rem;
      font-size: 16px;
      padding-left: 1rem;
    }

    .search-location img{
      width: 2rem;
    }


    /* popular trips */
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }

    .card-subinfo p {
      font-size: 15px;
    }
    .pricing-info span {
        font-size: 1.8rem;
    }

    /* fly anywhere */

    #we-fly-anywhere{
      margin: 4rem 0rem;
    }
    
    /* Section 4 */
    .luggage-section{
      flex-direction: column;
      margin-top: 0rem;
        
    }
    .luggage-info{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .luggage-section h2 {
        font-size: 25px;
        width: 80%;
        margin: 2rem 0rem;
        text-align: center;
    }
    
    .luggage-section p {
        font-size: 14px;
        text-align: center;

    }
    #luggage{
        width: 20rem;
        margin: 2rem 0rem;
    }

    /* footer */
    #footer-menu li{
      margin: 0rem 0.5rem;
      font-size: 12px;
    }

}

/* Med Mobile */

@media only screen and (max-width:375px){
  /* main section */
  #logo{
    width: 16rem;
  }
  #find-location{
    width: 14rem;
  }

  
}

/* sm mobile */

@media only screen and (max-width:321px) {

  /* popular trips */
  .pricing-info span{
    font-size: 30px;
  }


  /* Section 3 */
  #we-fly-anywhere{
      margin: 4rem 0rem;
  }

  /* Section 4 */

  .luggage-section{
      margin: 0rem 0rem;
  }
  .luggage-section h2 {
      font-size: 20px;
      text-align: center;

  }

  #luggage{
      width: 15rem;
  }
}

